@import '~photon-colors/photon-colors';

.product-footer {
  display: flex;
  margin: 30px auto 0;
  max-width: 1200px;
  width: 96%;

  h4 {
    padding: 30px;
  }

  a {
    color: $grey-90-a80;
    text-decoration: none;
  }
}

@media (max-width: 719px) {
  .product-footer {
    flex-direction: column;
    margin: 30px;

    h4 {
      padding: 8px;
    }
  }
}
