@import '~photon-colors/photon-colors';

.product-footer {
  display: flex;
  margin: 30px auto 0;
  max-width: 1200px;
  width: 96%;

  h4 {
    padding: 24px;
    font-size: 16px;
    font-weight: 700;

    a {
      color: $grey-90-a60;
      text-decoration: none;
    }

    a:hover {
      color: $grey-90-a80;
    }
  }
}

@media (max-width: 719px) {
  .product-footer {
    flex-direction: column;
    margin: 30px;
    width: auto;

    h4 {
      padding: 8px;
    }
  }
}
