@import "~photon-colors/photon-colors";
@mixin grid-section {
  display: grid;
  grid-gap: 48px;
  justify-content: center;
  margin: 0 auto;
  max-width: 1080px;
  width: 96%;
}

.product {
  .product__header {
    header {
      @include grid-section;
      grid-template-columns: minmax(420px, 480px) 640px;
      grid-template-rows: 96px 420px 40px;
      margin-bottom: 24px;
    }
    nav {
      align-items: center;
      display: flex;
      font-weight: 400;
      grid-column: 1 / -1;
      justify-content: space-between;
    }
    button {
      background: $blue-50;
      border-radius: 4px;
      border: none;
      color: $white-100;
      font-size: 24px;
      padding: 16px;
      cursor: pointer;
      &:hover,
      &:focus {
        background: $blue-60;
      }
    }
    h2 {
      align-items: center;
      display: flex;
      font-size: 32px;
    }
    ul {
      align-items: center;
      display: flex;
      list-style: none;
      margin: 0;
      opacity: .6;
      padding: 0;
    }
    li {
      font-weight: 700;
      padding: 10px;
    }
    .product__header-app-icon {
      background-repeat: no-repeat;
      height: 32px;
      margin: 0 10px 0 0;
      width: 32px;
    }
    .product__header-content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h1 {
        font-size: 54px;
      }
      p {
        font-size: 28px;
        font-weight: 700;
        opacity: .8;
      }
    }
    .product__header-image {
      align-items: center;
      display: flex;
    }
  }
  .product__section {
    margin: 60px 0;
    padding: 24px;
    position: relative;
    &:nth-child(2n) {
      background: linear-gradient(#E1EFF8, #CBE3F5);
      .product__section-top {
        background-size: 100% 60px;
        height: 60px;
        left: 0;
        position: absolute;
        right: 0;
        top: -60px;
      }
      .product__section-bottom {
        background-position: center top;
        background-size: 100% 60px;
        bottom: -60px;
        height: 60px;
        left: 0;
        position: absolute;
        right: 0;
      }
      .product__section-content {
        grid-column: 2 / 3;
        grid-row: 1 / -1;
      }
      .product__section-image {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
      }
    }
    section {
      @include grid-section;
      grid-template-columns: 440px 440px;
      grid-template-rows: 400px;
    }
    .product__section-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      p {
        font-size: 22px;
      }
    }
    .product__section-image {
      align-items: center;
      align-self: center;
      display: flex;
      height: 320px;
    }
  }
  .product__footer {
    display: flex;
    margin: 24px auto 0;
    max-width: 1200px;
    width: 96%;
    h4 {
      padding: 24px;
    }
    a {
      color: rgba(0, 0, 0, .8);
      text-decoration: none;
    }
  }
}