@import '~photon-colors/photon-colors';

.product-header {
  align-items: center;
  display: flex;
  font-weight: 400;
  grid-column: 1 / -1;
  width: 100vw;
  padding: 30px;

  h2 {
    align-items: center;
    display: flex;
    font-size: 32px;
    margin: 0;
  }

  ul {
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    font-size: 16px;
    font-weight: 700;
    padding: 0 24px;
    margin: 0;

    a {
      color: $grey-90-a60;
      text-decoration: none;
    }

    a:hover {
      color: $grey-90-a80;
    }
  }

  li:nth-child(1) {
    padding-left: 0px;
  }

  .product-header__app-icon {
    background-repeat: no-repeat;
    height: 32px;
    margin: 0 10px 0 0;
    width: 32px;
  }
  .product-header__container {
    display: flex;
    justify-content: space-between;
    max-width: 1080px;
    width: 100vw;
    margin: 0 auto;
  }
}

@media (max-width: 719px) {
  .product-header__container {
    flex-direction: column;
  }
  .product-header {
    li {
      padding: 24px 10px;
    }
  }
}

@media (max-width: 479px) {
  .product-header {
    li {
      display: none;
    }
  }
}