@import '~photon-colors/photon-colors';

.layout {
  min-height: 100vh;
  display: grid;
}

.layout--index,
.layout--productGroup {
  background: linear-gradient(135deg, $blue-50, $teal-60);
  color: $white-100;
  grid-gap: 32px;
  grid-template-rows: 280px 1fr auto;
  padding: 24px;
}