@import '~photon-colors/photon-colors';

.layout {
  display: grid;
  min-height: 100vh;
}

.layout--index,
.layout--productGroup {
  color: $white-100;
  grid-gap: 32px;
  grid-template-rows: 200px 1fr;
  padding: 24px;
}

.layout--index {
  background: linear-gradient(135deg, $blue-50, $teal-60);
}

.layout--productGroup {
  background: linear-gradient(135deg, $ink-70, $ink-50);
}

.layout--product {
  animation: fade-in 500ms forwards;
}