@import "~photon-colors/photon-colors";
.index {
  .products {
    display: grid;
    grid-gap: 24px;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
  .products__card {
    color: $white-100;
    padding: 16px;
    text-decoration: none;
    transition: background 150ms;
    user-select: none;
    &:hover,
    &:focus {
      background: $grey-10-a10;
    }
  }
}