@import '~photon-colors/photon-colors';

.product-hero {
  padding: 0 30px;
  width: 100vw;

  header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 60px;
    max-width: 1080px;
    width: 100%;
  }

  button {
    background: $blue-50;
    border: 0;
    border-radius: 50px;
    color: $white-100;
    cursor: pointer;
    font-size: 24px;
    padding: 16px 48px;

    &:hover,
    &:focus {
      background: $blue-60;
    }
  }

  .product-hero__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    margin-right: 24px;
    width: 100%;

    h1 {
      color: $grey-90;
      font-size: 54px;
    }

    p {
      font-size: 24px;
      font-weight: 500;
      margin-bottom: 32px;
      opacity: 0.8;
    }
  }

  .product-hero__image {
    align-items: center;
    display: flex;
    max-width: 600px;
  }
}

@media (max-width: 959px) {
  .product-hero {
    header {
      flex-direction: column;
      margin: 0 auto 30px;
    }

    .product-hero__content {
      margin: 0 auto;
      max-width: 480px;
      text-align: center;

      h1 {
        margin: 2rem auto 1rem auto;
      }

      a {
        margin: 0 auto;
      }

      button {
        margin: 0 auto;
      }
    }

    .product-hero__image {
      margin-top: 60px;
      max-width: 90vw;
    }
  }
}