@import '~photon-colors/photon-colors';

.product-hero {
  padding: 0 30px;
  width: 100vw;

  header {
    display: flex;
    justify-content: space-between;
    margin: 0 auto 120px;
    max-width: 1080px;
    width: 100%;
  }

  button {
    background: $blue-50;
    border: 0;
    border-radius: 4px;
    color: $white-100;
    cursor: pointer;
    font-size: 24px;
    padding: 16px;

    &:hover,
    &:focus {
      background: $blue-60;
    }
  }

  .product-hero__content {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 420px;
    width: 100%;

    h1 {
      font-size: 54px;
    }

    p {
      font-size: 28px;
      font-weight: 700;
      opacity: 0.8;
    }
  }
  .product-hero__image {
    align-items: center;
    display: flex;
  }
}

@media (max-width: 959px) {
  .product-hero {

    header {
      flex-direction: column;
      margin: 0 auto;
    }
    .product-hero__content {
      text-align: center;
      margin: 0 auto;

      h1 {
        margin: 0 auto 1rem auto;
      }

      button {
        margin: auto;
      }
    }
    .product-hero__image {
      margin-top: 60px;
      max-width: 90vw;
    }
  }
}