  @import '~photon-colors/photon-colors';
  .header {
    border-bottom: 2px solid $grey-10-a40;
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    user-select: none;
    h1 {
      margin-bottom: 0;
    }
    p {
      font-size: 1.2rem;
    }
    a {
      color: $white-100;
      text-decoration: none;
    }
    .breadcrumb {
      flex: 1;
      display: flex;
      align-items: flex-end;
    }
    h2 {
      display: flex;
      align-items: center;
      span {
        font-weight: 400;
        font-size: 24px;
      }
    }
    .home {
      width: 24px;
      height: 24px;
      background: url(home.svg) no-repeat;
      background-size: 24px auto;
      transition: transform 75ms;
      &:hover,
      &:focus {
        transform: scale(1.1);
      }
      &:active {
        transform: scale(1.2);
      }
    }
  }